{% extends 'base.html' %}
{% load static %}



{% block css %}
    <link rel="stylesheet" href='{% static "vendor/css/index.css" %}' class="" />
{% endblock %}

{% block title %}
    <title>Главная</title>
{% endblock %}
{% block content %}
      <div class="container">
        <div class="text">
          <p>Ваш универсальный ресурс для умных покупок.</p>
          <div class="button">
            <a href="catalog.html" class="">Начать покупки</a>
          </div>
        </div>
        <div class="image">
          <img src='{% static "vendor/media/pngwing.com.png" %}' alt="" class="" />
        </div>
      </div>
    </section>
{% endblock %}

{% block footer %}
      <footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Store 2022</p>
    </div>
    </footer>
{% endblock %}
